.el-button--mini, .el-button--mini.is-round{
    padding: 5px 10px;
}

.el-button--small, .el-button--small.is-round {
    padding: 7px 13px;
}

.header-btns{
    margin-bottom: 20px;
}

.btn-container {
    padding-bottom: 15px;
}

.el-icon-btn{
    margin-right: 0.3rem;
}