// Base color
$primary: var(--el-color-primary);
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// Sidebar
$subMenuBg: white;
$subMenuText:  #333333;
$subMenuHoverBg: $primary;
$subMenuHoverText: white;
$subMenuActiveBg: $primary;
$subMenuActiveText: white;

$menuItemBg: white;
$menuItemText:  #666666;
$menuItemHoverBg: var(--el-color-primary-light-5);
$menuItemHoverText: $primary;
$menuItemActiveBg: var(--el-color-primary-light-5);
$menuItemActiveText: $primary;

