// Base color
$primary: var(--el-color-primary);
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// Sidebar
$subMenuBg: white;
$subMenuText:  white;
$subMenuHoverBg: var(--el-color-primary-light-7);
$subMenuHoverText: $primary;
$subMenuActiveBg: var(--el-color-primary-light-7);
$subMenuActiveText: $primary;

$menuItemBg: white;
$menuItemText:  white;
$menuItemHoverBg: var(--el-color-primary-light-9);
$menuItemHoverText: white;
$menuItemActiveBg: var(--el-color-primary-light-9);
$menuItemActiveText: $primary;

